@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

html {
  scroll-behavior: smooth;
}
